<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h2>Регистрация</h2>

<form method="post" th:action="@{/register}">
    <p>
        <label>Логин:
            <input type="text" name="username" required/>
        </label>
    </p>
    <p>
        <label>Пароль:
            <input type="password" name="password" required/>
        </label>
    </p>
    <p>
        <button type="submit">Зарегистрироваться</button>
    </p>
</form>

<p><a th:href="@{/login}">Назад ко входу</a></p>
</body>
</html>